# Estudo das notas da disciplina Fundamentos Matemáticos da Computação II
- O objetivo desse estudo é analisar as notas do componente curricular Fundamentos Matemáticos da Computação II, presente como disciplina obrigatória na grade de BTI, a partir de 2014, para analisar o alto índice de reprovações entre os discentes.

# Bibliotecas
- Pandas: Utilizado para ler, tratar e extrair informações presentes nos arquivos .csv contendo os dados disponíveis no portal.
- Matplotlib: Utilizado para plot dos gráficos com as informações extraidas de cada dataset.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Acessando os dados

In [51]:
# componentes curriculares presenciais
disciplinas_url = 'http://bit.do/componentes_curriculares_ufrn'
docentes_url = 'http://bit.do/docentes_ufrn_2018'
docentes = pd.read_csv(docentes_url, sep=';')

In [38]:
disciplinas = pd.read_csv(disciplinas_url, 
                          sep=';', 
                          usecols=["id_componente","codigo","nivel","nome","unidade_responsavel"])

# Limpando o dataframe disciplinas com linhas desnecessárias
disciplinas.dropna(inplace=True)
disciplinas = disciplinas[~disciplinas.id_componente.duplicated()]

# Turmas e notas do semestre 2014.1

In [257]:
turmas_url_2014_1 = 'http://bit.do/turmas_ufrn_2014_1'
notas_url_2014_1 = 'http://bit.do/notas_ufrn_2014_1'

In [258]:
# Turmas do semestre 2014.1
turmas_2014_1 = pd.read_csv(turmas_url_2014_1, sep=';')
# Matriculas em componentes em 2014.1
notas_2014_1 = pd.read_csv(notas_url_2014_1, sep=';')

In [259]:
# A coluna id_componente precisa ser a mesma em ambos os dataframes
turmas_2014_1.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
# id_componente em ambos os dataframes precisam ser do mesmo tipo
turmas_2014_1.id_componente = turmas_2014_1.id_componente.astype(str)

In [260]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
# merge os dois dataframes utilizando como base a coluna id_componenteb
merge_turmas_disciplinas_2014_1 = pd.merge(turmas_2014_1, disciplinas, on='id_componente')[colunas]

merge_turmas_disciplinas_2014_1.dropna(inplace=True)

In [261]:
# filtrando as turmas com código IMD
turmas_imd_2014_1 = merge_turmas_disciplinas_2014_1[merge_turmas_disciplinas_2014_1.codigo.str.contains("IMD")]
# utilizar apenas disciplinas com código "CONSOLIDADA"
turmas_imd_2014_1 = turmas_imd_2014_1[turmas_imd_2014_1.situacao_turma == 'CONSOLIDADA']
# Adaptar o nome da coluna id_docente_interno para id_servidor
turmas_imd_2014_1.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2014_1.capacidade_aluno = turmas_imd_2014_1.capacidade_aluno.astype(np.int64)
# Adaptar os tipos de dados em turmas_imd para o merge com o dataframe docentes
turmas_imd_2014_1.id_servidor = turmas_imd_2014_1.id_servidor.astype(np.int64)

In [264]:
turmas_imd_2014_1[turmas_imd_2014_1["nome"] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
1125,1217967,24798,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246M56 (27/01/2014 - 14/06/2014)

In [266]:
# merge os dataframes  turmas_imd e docentes utilizando como base a coluna id_servidor
colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y", "codigo", "nivel_ensino",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof_2014_1 = pd.merge(turmas_imd_2014_1, docentes, on='id_servidor')[colunas]

In [267]:
# filtrar apenas as turmas do IMD
notas_imd_2014_1 = notas_2014_1[notas_2014_1.id_turma.isin(turmas_imd_nomesprof_2014_1.id_turma)]
# merge entre os dataframes notas_imd e turmas_imd_nomesprof utilizando como referencia id_turma
notas_imd_merge_2014_1 = pd.merge(notas_imd_2014_1, turmas_imd_nomesprof_2014_1, on='id_turma')

In [268]:
alunos_fmc_2014_1 = notas_imd_merge_2014_1[notas_imd_merge_2014_1.nome_x == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']
alunos_fmc_2014_1[~alunos_fmc_2014_1.discente.duplicated()].descricao.value_counts()

REPROVADO                           17
APROVADO                             6
APROVADO POR NOTA                    4
TRANCADO                             3
REPROVADO POR MÉDIA E POR FALTAS     2
CANCELADO                            1
Name: descricao, dtype: int64

# Turmas e notas do semestre 2014.2

In [276]:
turmas_url_2014_2 = 'http://bit.do/turmas_ufrn_2014_2'
notas_url_2014_2 = 'http://bit.do/notas_ufrn_2014_2'

In [277]:
# Turmas do semestre 2014.1
turmas_2014_2 = pd.read_csv(turmas_url_2014_2, sep=';')
# Matriculas em componentes em 2014.1
notas_2014_2 = pd.read_csv(notas_url_2014_2, sep=';')

In [278]:
# A coluna id_componente precisa ser a mesma em ambos os dataframes
turmas_2014_2.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
# id_componente em ambos os dataframes precisam ser do mesmo tipo
turmas_2014_2.id_componente = turmas_2014_2.id_componente.astype(str)

In [279]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
merge_turmas_disciplinas_2014_2 = pd.merge(turmas_2014_2, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas_2014_2.dropna(inplace=True)

In [280]:
turmas_imd_2014_2 = merge_turmas_disciplinas_2014_2[merge_turmas_disciplinas_2014_2.codigo.str.contains("IMD")]
turmas_imd_2014_2 = turmas_imd_2014_2[turmas_imd_2014_2.situacao_turma == 'CONSOLIDADA']
turmas_imd_2014_2.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2014_2.capacidade_aluno = turmas_imd_2014_2.capacidade_aluno.astype(np.int64)
turmas_imd_2014_2.id_servidor = turmas_imd_2014_2.id_servidor.astype(np.int64)

In [281]:
turmas_imd_2014_2.head()

Empty DataFrame
Columns: [id_turma, id_servidor, codigo, nivel_ensino, nome, unidade_responsavel, situacao_turma, capacidade_aluno, descricao_horario]
Index: []

# Turmas e notas do semestre 2015.1

In [137]:
turmas_url_2015_1 = 'http://bit.do/turmas_ufrn_2015_1'
notas_url_2015_1 = 'http://bit.do/notas_ufrn_2015_1'

In [140]:
turmas_2015_1 = pd.read_csv(turmas_url_2015_1, sep=';')
notas_2015_1 = pd.read_csv(notas_url_2015_1, sep=';')

In [141]:
turmas_2015_1.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
turmas_2015_1.id_componente = turmas_2015_1.id_componente.astype(str)

In [142]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
merge_turmas_disciplinas_2015_1 = pd.merge(turmas_2015_1, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas_2015_1.dropna(inplace=True)

In [143]:
turmas_imd_2015_1 = merge_turmas_disciplinas_2015_1[merge_turmas_disciplinas_2015_1.codigo.str.contains("IMD")]
turmas_imd_2015_1 = turmas_imd_2015_1[turmas_imd_2015_1.situacao_turma == 'CONSOLIDADA']
turmas_imd_2015_1.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2015_1.capacidade_aluno = turmas_imd_2015_1.capacidade_aluno.astype(np.int64)
turmas_imd_2015_1.id_servidor = turmas_imd_2015_1.id_servidor.astype(np.int64)

In [144]:
turmas_imd_2015_1[turmas_imd_2015_1["nome"] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
823,1239537,25889,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246N12 (02/02/2015 - 20/06/2015)
824,1239541,24798,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246M34 (02/02/2015 - 20/06/2015)

In [145]:
colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y", "codigo", "nivel_ensino",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof_2015_1 = pd.merge(turmas_imd_2015_1, docentes, on='id_servidor')[colunas]

In [195]:
notas_imd_2015_1 = notas_2015_1[notas_2015_1.id_turma.isin(turmas_imd_nomesprof_2015_1.id_turma)]
notas_imd_merge_2015_1 = pd.merge(notas_imd_2015_1, turmas_imd_nomesprof_2015_1, on='id_turma')

In [198]:
alunos_fmc_2015_1 = notas_imd_merge_2015_1[notas_imd_merge_2015_1.nome_x == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']
alunos_fmc_2015_1[~alunos_fmc_2015_1.discente.duplicated()].descricao.value_counts()

EXCLUIDA                            47
APROVADO POR NOTA                   23
REPROVADO POR MÉDIA E POR FALTAS     7
REPROVADO                            7
CANCELADO                            6
APROVADO                             3
DESISTENCIA                          1
Name: descricao, dtype: int64

# Turmas e notas do semestre 2015.2

In [150]:
turmas_url_2015_2 = 'http://bit.do/turmas_ufrn_2015_2'
notas_url_2015_2 = 'http://bit.do/notas_ufrn_2015_2'

In [151]:
turmas_2015_2 = pd.read_csv(turmas_url_2015_2, sep=';')
notas_2015_2 = pd.read_csv(notas_url_2015_2, sep=';')

In [152]:
turmas_2015_2.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
turmas_2015_2.id_componente = turmas_2015_2.id_componente.astype(str)

In [153]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
merge_turmas_disciplinas_2015_2 = pd.merge(turmas_2015_2, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas_2015_2.dropna(inplace=True)

In [154]:
turmas_imd_2015_2 = merge_turmas_disciplinas_2015_2[merge_turmas_disciplinas_2015_2.codigo.str.contains("IMD")]
turmas_imd_2015_2 = turmas_imd_2015_2[turmas_imd_2015_2.situacao_turma == 'CONSOLIDADA']
turmas_imd_2015_2.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2015_2.capacidade_aluno = turmas_imd_2015_2.capacidade_aluno.astype(np.int64)
turmas_imd_2015_2.id_servidor = turmas_imd_2015_2.id_servidor.astype(np.int64)

In [155]:
turmas_imd_2015_2[turmas_imd_2015_2.nome == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
3259,57564855,24798,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,65,246M34 (27/07/2015 - 19/12/2015)
3260,57564858,25889,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246N12 (27/07/2015 - 19/12/2015)

In [184]:
colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y", "codigo", "nivel_ensino",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof_2015_2 = pd.merge(turmas_imd_2015_2, docentes, on='id_servidor')[colunas]

In [199]:
notas_imd_2015_2 = notas_2015_2[notas_2015_2.id_turma.isin(turmas_imd_nomesprof_2015_2.id_turma)]
notas_imd_merge_2015_2 = pd.merge(notas_imd_2015_2, turmas_imd_nomesprof_2015_2, on='id_turma')

In [201]:
alunos_fmc_2015_2 = notas_imd_merge_2015_2[notas_imd_merge_2015_2.nome_x == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']
alunos_fmc_2015_2[~alunos_fmc_2015_2.discente.duplicated()].descricao.value_counts()

REPROVADO POR MÉDIA E POR FALTAS    27
REPROVADO                           19
APROVADO POR NOTA                   19
CANCELADO                           15
APROVADO                             5
TRANCADO                             3
DESISTENCIA                          2
Name: descricao, dtype: int64

# Turmas e notas no semestre 2016.1

In [161]:
turmas_url_2016_1 = 'http://bit.do/turmas_ufrn_2016_1'
notas_url_2016_1 = 'http://bit.do/notas_ufrn_2016_1'

In [162]:
turmas_2016_1 = pd.read_csv(turmas_url_2016_1, sep=';')
notas_2016_1 = pd.read_csv(notas_url_2016_1, sep=';')

In [163]:
turmas_2016_1.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
turmas_2016_1.id_componente = turmas_2016_1.id_componente.astype(str)

In [164]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
merge_turmas_disciplinas_2016_1 = pd.merge(turmas_2016_1, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas_2016_1.dropna(inplace=True)

In [165]:
turmas_imd_2016_1 = merge_turmas_disciplinas_2016_1[merge_turmas_disciplinas_2016_1.codigo.str.contains("IMD")]
turmas_imd_2016_1 = turmas_imd_2016_1[turmas_imd_2016_1.situacao_turma == 'CONSOLIDADA']
turmas_imd_2016_1.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2016_1.capacidade_aluno = turmas_imd_2016_1.capacidade_aluno.astype(np.int64)
turmas_imd_2016_1.id_servidor = turmas_imd_2016_1.id_servidor.astype(np.int64)

In [166]:
turmas_imd_2016_1[turmas_imd_2016_1.nome == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
5709,57576738,5757768,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246N34 (01/02/2016 - 18/06/2016)
5710,57579587,24798,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,32,246M34 (01/02/2016 - 18/06/2016)
5711,57579588,5757958,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,35,246M34 (01/02/2016 - 18/06/2016)

In [222]:
colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y", "codigo", "nivel_ensino",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof_2016_1 = pd.merge(turmas_imd_2016_1, docentes, on='id_servidor')[colunas]

In [223]:
notas_imd_2016_1 = notas_2016_1[notas_2016_1.id_turma.isin(turmas_imd_nomesprof_2016_1.id_turma)]
notas_imd_merge_2016_1 = pd.merge(notas_imd_2016_1, turmas_imd_nomesprof_2016_1, on='id_turma')

In [224]:
alunos_fmc_2016_1 = notas_imd_merge_2016_1[notas_imd_merge_2016_1.nome_x == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']
alunos_fmc_2016_1[~alunos_fmc_2016_1.discente.duplicated()].descricao.value_counts()

REPROVADO                           33
REPROVADO POR MÉDIA E POR FALTAS    24
APROVADO POR NOTA                   17
APROVADO                            11
INDEFERIDO                          11
CANCELADO                           10
TRANCADO                             9
DESISTENCIA                          5
EXCLUIDA                             1
Name: descricao, dtype: int64

# Turmas e notas no semestre 2016.2

In [170]:
turmas_url_2016_2 = 'http://bit.do/turmas_ufrn_2016_2'
notas_url_2016_2 = 'http://bit.do/notas_ufrn_2016_2'

In [171]:
turmas_2016_2 = pd.read_csv(turmas_url_2016_2, sep=';')
notas_2016_2 = pd.read_csv(notas_url_2016_2, sep=';')

In [172]:
turmas_2016_2.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
turmas_2016_2.id_componente = turmas_2016_2.id_componente.astype(str)

In [173]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
merge_turmas_disciplinas_2016_2 = pd.merge(turmas_2016_2, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas_2016_2.dropna(inplace=True)

In [174]:
turmas_imd_2016_2 = merge_turmas_disciplinas_2016_2[merge_turmas_disciplinas_2016_2.codigo.str.contains("IMD")]
turmas_imd_2016_2 = turmas_imd_2016_2[turmas_imd_2016_2.situacao_turma == 'CONSOLIDADA']
turmas_imd_2016_2.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2016_2.capacidade_aluno = turmas_imd_2016_2.capacidade_aluno.astype(np.int64)
turmas_imd_2016_2.id_servidor = turmas_imd_2016_2.id_servidor.astype(np.int64)

In [177]:
turmas_imd_2016_2[turmas_imd_2016_2["nome"] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
3873,57586396,5757768,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246M34 (25/07/2016 - 17/12/2016)
3874,57586396,64472,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246M34 (25/07/2016 - 17/12/2016)
3875,57586397,25889,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,63,246N12 (25/07/2016 - 17/12/2016)

In [225]:
colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y", "codigo", "nivel_ensino",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof_2016_2 = pd.merge(turmas_imd_2016_2, docentes, on='id_servidor')[colunas]

In [226]:
notas_imd_2016_2 = notas_2016_2[notas_2016_2.id_turma.isin(turmas_imd_nomesprof_2016_2.id_turma)]
notas_imd_merge_2016_2 = pd.merge(notas_imd_2016_2, turmas_imd_nomesprof_2016_2, on='id_turma')

In [227]:
alunos_fmc_2016_2 = notas_imd_merge_2016_2[notas_imd_merge_2016_2.nome_x == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']
alunos_fmc_2016_2[~alunos_fmc_2016_2.discente.duplicated()].descricao.value_counts()

REPROVADO POR MÉDIA E POR FALTAS    32
REPROVADO                           19
CANCELADO                           19
APROVADO POR NOTA                   15
INDEFERIDO                          11
APROVADO                             7
TRANCADO                             5
Name: descricao, dtype: int64

# Turmas e notas no semestre 2017.1

In [213]:
turmas_url_2017_1 = 'http://bit.do/turmas_ufrn_2017_1'
notas_url_2017_1 = 'http://bit.do/notas_ufrn_2017_1'

In [214]:
turmas_2017_1 = pd.read_csv(turmas_url_2017_1, sep=';')
notas_2017_1 = pd.read_csv(notas_url_2017_1, sep=';')

In [215]:
turmas_2017_1.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
turmas_2017_1.id_componente = turmas_2017_1.id_componente.astype(str)

In [216]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
merge_turmas_disciplinas_2017_1 = pd.merge(turmas_2017_1, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas_2017_1.dropna(inplace=True)

In [217]:
turmas_imd_2017_1 = merge_turmas_disciplinas_2017_1[merge_turmas_disciplinas_2017_1.codigo.str.contains("IMD")]
turmas_imd_2017_1 = turmas_imd_2017_1[turmas_imd_2017_1.situacao_turma == 'CONSOLIDADA']
turmas_imd_2017_1.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2017_1.capacidade_aluno = turmas_imd_2017_1.capacidade_aluno.astype(np.int64)
turmas_imd_2017_1.id_servidor = turmas_imd_2017_1.id_servidor.astype(np.int64)

In [256]:
turmas_imd_2017_1[turmas_imd_2017_1["nome"] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
6365,57597922,5757958,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246T56 (13/02/2017 - 01/07/2017)
6366,57597928,5757958,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,60,246N12 (13/02/2017 - 01/07/2017)

In [218]:
colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y", "codigo", "nivel_ensino",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof_2017_1 = pd.merge(turmas_imd_2017_1, docentes, on='id_servidor')[colunas]

In [229]:
notas_imd_2017_1 = notas_2017_1[notas_2017_1.id_turma.isin(turmas_imd_nomesprof_2017_1.id_turma)]
notas_imd_merge_2017_1 = pd.merge(notas_imd_2017_1, turmas_imd_nomesprof_2017_1, on='id_turma')

In [231]:
alunos_fmc_2017_1 = notas_imd_merge_2017_1[notas_imd_merge_2017_1.nome_x == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']
alunos_fmc_2017_1[~alunos_fmc_2017_1.discente.duplicated()].descricao.value_counts()

REPROVADO POR MÉDIA E POR FALTAS    42
REPROVADO                           25
CANCELADO                           19
APROVADO POR NOTA                   12
DESISTENCIA                          5
APROVADO                             2
TRANCADO                             2
Name: descricao, dtype: int64

# Turmas e notas no semestre 2017.2

In [247]:
turmas_url_2017_2 = 'http://bit.do/turmas_ufrn_2017_2'
notas_url_2017_2 = 'http://bit.do/notas_ufrn_2017_2'

- Tratando os dados das turmas e notas no semestre 2017.2

In [248]:
turmas_2017_2 = pd.read_csv(turmas_url_2017_2, sep=';')
notas_2017_2 = pd.read_csv(notas_url_2017_2, sep=';')

In [249]:
turmas_2017_2.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
turmas_2017_2.id_componente = turmas_2017_2.id_componente.astype(str)

In [250]:
colunas = ["id_turma","id_docente_interno","codigo","nivel_ensino","nome","unidade_responsavel",
          "situacao_turma","capacidade_aluno","descricao_horario"]
merge_turmas_disciplinas_2017_2 = pd.merge(turmas_2017_2, disciplinas, on='id_componente')[colunas]
merge_turmas_disciplinas_2017_2.dropna(inplace=True)

In [251]:
turmas_imd_2017_2 = merge_turmas_disciplinas_2017_2[merge_turmas_disciplinas_2017_2.codigo.str.contains("IMD")]
turmas_imd_2017_2 = turmas_imd_2017_2[turmas_imd_2017_2.situacao_turma == 'CONSOLIDADA']
turmas_imd_2017_2.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
turmas_imd_2017_2.capacidade_aluno = turmas_imd_2017_2.capacidade_aluno.astype(np.int64)
turmas_imd_2017_2.id_servidor = turmas_imd_2017_2.id_servidor.astype(np.int64)

In [252]:
turmas_imd_2017_2[turmas_imd_2017_2["nome"] == 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II']

,id_turma,id_servidor,codigo,nivel_ensino,nome,unidade_responsavel,situacao_turma,capacidade_aluno,descricao_horario
9247,57608415,5757958,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,65,246T34 (24/07/2017 - 16/12/2017)
9248,57608415,24798,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,65,246T34 (24/07/2017 - 16/12/2017)
9249,57608416,5757958,IMD0038,GRADUAÇÃO,FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II,INSTITUTO METROPOLE DIGITAL,CONSOLIDADA,65,246N12 (24/07/2017 - 16/12/2017)

In [253]:
colunas = ["id_turma", "codigo", "nivel_ensino", "nome_y", "codigo", "nivel_ensino",
          "nome_x","capacidade_aluno", "descricao_horario"]
turmas_imd_nomesprof_2017_2 = pd.merge(turmas_imd_2017_2, docentes, on='id_servidor')[colunas]

In [254]:
notas_imd_2017_2 = notas_2017_2[notas_2017_2.id_turma.isin(turmas_imd_nomesprof_2017_2.id_turma)]
notas_imd_merge_2017_2 = pd.merge(notas_imd_2017_2, turmas_imd_nomesprof_2017_2, on='id_turma')

In [255]:
alunos_fmc_2017_2 = notas_imd_merge_2017_2[notas_imd_merge_2017_2.nome_x == 'PROBABILIDADE']
alunos_fmc_2017_2[~alunos_fmc_2017_2.discente.duplicated()].descricao.value_counts()

APROVADO                            13
CANCELADO                            5
REPROVADO                            3
APROVADO POR NOTA                    3
TRANCADO                             2
REPROVADO POR MÉDIA E POR FALTAS     1
Name: descricao, dtype: int64

In [ ]:
#